apiVersion: backstage.io/v1alpha1
kind: System
metadata:
  name: __SYSTEM_NAME__
  title: __APPLICATION_TITLE__
spec:
  owner: __OWNER__
---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: __COMPONENT_NAME__
  title: __APPLICATION_TITLE__
  annotations:
    github.com/project-slug: __REPOSITORY__
    backstage.io/kubernetes-id: __APPLICATION_NAME__
spec:
  type: service
  lifecycle: development
  owner: __OWNER__
  system: __SYSTEM_NAME__
