variable "application_name" {
  type    = string
  default = "__APPLICATION_NAME__"
}

variable "aws_region" {
  type    = string
  default = "__AWS_REGION__"
}

variable "cluster_name" {
  type    = string
  default = "__EKS_CLUSTER_NAME__"
}

variable "namespace" {
  type    = string
  default = "__KUBERNETES_NAMESPACE__"
}

variable "service_account_name" {
  type    = string
  default = "__SERVICE_ACCOUNT_NAME__"
}
